@model GetFit.Models.Comment

@{
    ViewBag.Title = "Delete";
}

<h2 class="title">Изтриване</h2>

<h3 class="title">Сигурни ли сте, че искате да изтриете коментара?</h3>
<div>
    
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Text)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Text)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Обратно към списъка", "Index")
        </div>
    }
</div>
