@model GetFit.Models.Comment

@{
    ViewBag.Title = "Details";
}

<h2 class="title">Детайли</h2>

<div>
    <h4 class="title">Коментар</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt class="title">Текст:</dt>
       
        <dd>
            @Html.DisplayFor(model => model.Text)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Добави", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Обратно към списъка", "Index")
</p>
